body,
html {
	color: #1f1e1c;
	min-height: 100%;
	background: #384f96;
	background: linear-gradient(
		180deg,
		rgba(56, 79, 150, 1) 20%,
		rgba(15, 255, 219, 1) 90%
	);
}

footer {
	background-color: #19214a;
	width: 100%;
	min-height: 180px;
	margin-top: 4em;
	margin-bottom: 0;
}
.smallText {
	font-size: small;
}
